body {
  background-color: white;
  color: #6F6F6F;
  font-family: 'Droid Sans', 'Helvetica', 'sans';
  font-size: 12pt;
  margin: 2ex 2em;
}

h1, h2, h3, h4 {
  color: #E9601A;
}

a {
  color: #6F6F6F;
  text-decoration: underline;
}

div#datetime {
  font-size: 80%;
  text-align: right;
}

nav li {
	display: inline;
	margin-right: 1em;
	font-size: 80%;
}

#firstname {
	color: #E9601A;
	text-decoration: underline;
}

#addturkah {
	margin-top: 20px;
	margin-right: 10px;
	display: inline-table;
}

#divturkah {
	display: inline-table;
}

#delturkah {
	margin-top: 20px;
}

#addira {
	color: #E9601A;
	margin-top: 25px;
	display: inline-table;
}


#rules {
	color: #E9601A;
	margin-top: 20px;

}

#update {
	color: #00CC00;
	display: inline-table;
	margin-left: 20px;
	margin-top: 20px;
}

#divrules {
	color: #00CC00;
	display: inline-table;

}

#delrules {
	color: #00CC00;
	margin-top: 20px;
}
#thecolor {
	color: #00CC00;
}

#subhead {
	margin-top : 50px;
}

br {
	margin-top:15px;
	margin-bottom : 15px:
}

#button {
  color: #0000ff;
}
#tablo1 {
	margin-top: 20px;
	margin-left: 20px;
	display: inline-table;
	border: 1px solid black;
}

tablo1, th, td {
    border: 1px solid black;
}
tablo2, th, td {
    border: 1px solid black;
}
sonucb, th, td {
    border: 1px solid black;
}


#tablo2 {
	margin-top: 20px;
	margin-left: 20px;
	display: inline-table;
	border: 1px solid black;
}

#sonucb{
	margin-top: 20px;
	margin-left: 20px;


}
#baslab{
	margin-top: 20px;
	margin-left: 20px;

}