body {
  background-color: white;
  color: #6F6F6F;
  font-family: 'Droid Sans', 'Helvetica', 'sans';
  font-size: 12pt;
  margin: 2ex 2em;
}

h1, h2, h3, h4 {
  color: #E9601A;
}

a {
  color: #6F6F6F;
  text-decoration: underline;
}

div#datetime {
  font-size: 80%;
  text-align: right;
}

nav li {
	display: inline;
	margin-right: 1em;
	font-size: 80%;
}

table, th, td {
    border: 1px solid black;
}

#firstname {
	color: #E9601A;
	text-decoration: underline;
}

#addturkah {
	margin-top: 20px;
	display: inline-table;
}

#divturkah {
	display: inline-table;
	margin-left: 20px;
}

#delturkah {
	margin-top: 20px;
}

#addira {
	margin-top: 25px;
	display: inline-table;
}