<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Find Captures</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
  	<nav>
		<ul class="nav nav-pills">
  	 	 <li role="presentation" class="active"> <a style="text-decoration:none;" href = "{{ url_for('home_page') }}">Home</a></li>
  	 	 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('localtour_page') }}">Local Tournaments</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('rankings_page') }}">Rankings</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('upcoming_events') }}">Upcoming Events</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('history') }}">History</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('rules_page') }}">Rules</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('players_page') }}">Player Info</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "/count">Count</a></li>
  		</ul>

	</nav>
		<div class="panel panel-default">
  			<div class="panel-heading">Find Captures</div>
				<table class="table">
			<tr>
			<th>ID</th>
			<th>Piece Name</th>
    		<th>Captured Direction</th>
    		<th>Starting Point</th>
    		<th>Can it Start?</th>

  		</tr>
		{% for id, name, capture_direction, starting_place, can_start in upcaptures %}
		<tr>
			<td>{{ id }}</td>
			<td>{{ name }}</td>
			<td>{{ capture_direction }}</td>
			<td>{{ starting_place }}</td>
			<td>{{ can_start }}</td>
			<td>
        			<a style=" text-decoration:none;" id="button" href="{{ url_for('update_captures_page', key=id) }}" type="submit">Update</a>
        		</td>
			</tr>
			{% endfor %}
				</table>
		</div>

	</body>
</html>