<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8" />
<title>Chess - {% block title %}{% endblock %}</title> <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
  	<nav>
  	 	<a href = "{{ url_for('home_page') }}">Home</a>
  	 	<a href = "{{ url_for('localtour_page') }}">Local Tournaments</a>
  		 <a href = "{{ url_for('rankings_page') }}">Rankings</a>
  		 <a href = "/tournaments">Tournaments List</a>
  		 <a href = "/history">History</a>
  		 <a href = "/rules">Rules of Game</a>
  		 <a href = "/count">Count</a>
  	</nav>
    {% block content %}

    {% endblock %}
<footer>
<div id="datetime">{{ current_time }}</div> </footer>
  </body>
</html>