{% extends "layout.html" %}
{% block title %}Local Tournaments{% endblock %}
{% block content %}
	<h1>Local Tournaments</h1>
	<h2>Local Players</h2>
	<table>
		<tr>
			<th>ID</th>
    		<th>Name</th>
    		<th>Surname</th>
    		<th>Win</th>
    		<th>Lose</th>
    		<th>Draw</th>
  		</tr>
		{% for id, name, surname, win, lose, draw in players %}
		<tr>
			<td>{{ id }}</td>
			<td>{{ name }}</td>
			<td>{{ surname }}</td>
			<td>{{ win }}</td>
			<td>{{ lose }}</td>
			<td>{{ draw }}</td>
		</tr>
		{% endfor %}
	</table>

	<form id="addturkah" action="{{ url_for('localtour_page') }}" method="post">
		<table>
			<tr>
				<th>Name:</th>
				<td>
					<input type="text" name="name"/>
				</td>
			</tr>
			<tr>
				<th>Surname:</th>
				<td>
					<input type="text" name="surname"/>
				</td>
			</tr>
			<tr>
				<th>Win:</th>
				<td>
					<input type="text" name="win"/>
				</td>
			</tr>
			<tr>
				<th>Lose:</th>
				<td>
					<input type="text" name="lose"/>
				</td>
			</tr>
			<tr>
				<th>Draw:</th>
				<td>
					<input type="text" name="draw"/>
				</td>
			</tr>
		</table>
		<input value="Add Player" name="addplayer" type="submit"/>
	</form>

	<div id="divturkah">
	<form id="delturkah" action="{{ url_for('localtour_page') }}" method="post">
		<table>
			<tr>
				<th>Name:</th>
				<td>
					<input type="text" name="name"/>
				</td>
			</tr>
			<tr>
				<th>Surname:</th>
				<td>
					<input type="text" name="surname"/>
				</td>
			</tr>
		</table>
		<input value="Delete Player" name="deleteplayer" type="submit"/>
	</form>

	<form id="delturkah" action="{{ url_for('localtour_page') }}" method="post">
		<table>
			<tr>
				<th>ID:</th>
				<td>
					<input type="text" name="id"/>
				</td>
			</tr>
		</table>
		<input value="Delete Player" name="deleteplayerwithid" type="submit"/>
	</form>
	</div>
	
	<h2>Local Games</h2>
	<p>1 = PlayerOne Wins<br>2 = PlayerTwo Wins<br>0 = Draw</p>
	<table>
		<tr>
			<th>ID</th>
    		<th>PlayerOne</th>
    		<th>PlayerTwo</th>
    		<th>Result</th>
  		</tr>
		{% for id, playerone, playertwo, result in games %}
		<tr>
			<td>{{ id }}</td>
			<td>{{ playerone }}</td>
			<td>{{ playertwo }}</td>
			<td>{{ result }}</td>
		</tr>
		{% endfor %}
	</table>
	
	<form id="addturkah" action="{{ url_for('localtour_page') }}" method="post">
		<table>
			<tr>
				<th>PlayerOne:</th>
				<td>
					<input type="text" name="playerone"/>
				</td>
			</tr>
			<tr>
				<th>PlayerTwo:</th>
				<td>
					<input type="text" name="playertwo"/>
				</td>
			</tr>
			<tr>
				<th>Result:</th>
				<td>
					<input type="text" name="result"/>
				</td>
			</tr>
		</table>
		<input value="Add Game" name="addgame" type="submit"/>
	</form>

	<div id="divturkah">
	<form id="delturkah" action="{{ url_for('localtour_page') }}" method="post">
		<table>
			<tr>
				<th>ID:</th>
				<td>
					<input type="text" name="id"/>
				</td>
			</tr>
		</table>
		<input value="Delete Game" name="deletegame" type="submit"/>
	</form>
	</div>

	<form id="delturkah" action="{{ url_for('localtour_page') }}" method="post">
		<input value="Initialize Table" name="initializeTable" type="submit"/>
	</form>
{% endblock %}