{%extends "layout.html"%}

{%block title%}Player Info{%endblock%}

{%block content%}

<h1>Player Info</h1>

<form id="deljav" action="{{ url_for('players_page') }}" method="post">
		<input value="Initialize Table" name="initializeTable" type="submit"/>
	</form>


        <table>
        <tr>
        	<th> ID </th>
        	<th><a href="{{ url_for('players_page', key=1) }}"> Name</a> </th>
        	<th><a href="{{ url_for('players_page', key=2) }}"> Surname</a> </th>
        	<th><a href="{{ url_for('players_page', key=3) }}"> Country </a></th>
        	<th><a href="{{ url_for('players_page', key=4) }}"> Club </a></th>
        	<th><a href="{{ url_for('players_page', key=5) }}"> Best Rating</a> </th>
        	<th><a href="{{ url_for('players_page', key=6) }}"> Best Ranking</a> </th>
        	<th><a href="{{ url_for('players_page', key=7) }}"> Best Tournament </a></th>
        	<th><a href="{{ url_for('players_page', key=8) }}"> Best tournament Result </a></th>
        	<th><a href="{{ url_for('players_page', key=9) }}"> Current Rating </a></th>
        	<th><a href="{{ url_for('players_page', key=10) }}"> Current Ranking </a></th>
        </tr>
        	{% for id, name, surname, country, club, best_rating, best_ranking, best_tournament, best_tournament_result, current_rating, current_ranking in player_info %}
        	<tr>
        		<td>{{id}} </td>
        		<td><a href="{{ url_for('update_player_info_page', key=id) }}">{{name}} </a></td>
        		<td> {{surname}} </td>
        		<td> {{country}} </td>
        		<td> {{club}} </td>
        		<td> {{best_rating}} </td>
        		<td> {{best_ranking}} </td>
        		<td> {{best_tournament}} </td>
        		<td> {{best_tournament_result}} </td>
        		<td> {{current_rating}}</td>
        		<td> {{current_ranking}}</td>
        	</tr>
        	{%endfor%}
        </table>

        <form id="addplayerinfo" action="{{ url_for('players_page') }}" method="post">
        	<table>
        		<tr>
				<th>Name: </th>
				<td>
					<input type="text" name="name"/>
				</td>
			</tr>
			<tr>
				<th>Surname:</th>
				<td>
					<input type="text" name="surname"/>
				</td>
			</tr>
			<tr>
				<th>Country:</th>
				<td>
					<input type="text" name="country"/>
				</td>
			</tr>
			<tr>
				<th>Club:</th>
				<td>
					<input type="text" name="club"/>
				</td>
			</tr>
			<tr>
				<th>Best Rating: </th>
				<td>
					<input type="text" name="best_rating"/>
				</td>
			</tr>
			<tr>
				<th>Best Ranking:</th>
				<td>
					<input type="text" name="best_ranking"/>
				</td>
			</tr>
			<tr>
				<th>Best Tournament:</th>
				<td>
					<input type="text" name="best_tournament"/>
				</td>
			</tr>
			<tr>
				<th>Best Tournament Result:</th>
				<td>
					<input type="text" name="best_tournament_result"/>
				</td>
			</tr>
			<tr>
				<th>Current Rating:</th>
				<td>
					<input type="text" name="curr_rating"/>
				</td>
			</tr>
			<tr>
				<th>Current Ranking:</th>
				<td>
					<input type="text" name="curr_ranking"/>
				</td>
			</tr>
			</table>
		<input value="Add Player" name="addplayer" type="submit"/>
	</form>


	<div id="divjav">
	<form id="deljav" action="{{ url_for('players_page') }}" method="post">
	<table>
		<tr>
				<th>Name: </th>
				<td>
					<input type="text" name="name"/>
				</td>
			</tr>
			<tr>
				<th>Surname: </th>
				<td>
					<input type="text" name="surname"/>
				</td>
			</tr>
			</table>
		<input value="Delete Player" name="deleteplayer" type="submit"/>
	</form>

	<form id="deljav" action="{{ url_for('players_page') }}" method="post">
	<table>
		<tr>
				<th>ID:</th>
				<td>
					<input type="text" name="id"/>
				</td>
		</tr>
	</table>
		<input value="Delete Player" name="deleteplayerwithid" type="submit"/>
	</form>
	</div>

	<div id="findjav">
	<form id="findjav" action="{{ url_for('players_page') }}" method="post">
	<table>
		<tr>
				<th>Name: </th>
				<td>
					<input type="text" name="name"/>
				</td>
			</tr>
			<tr>
				<th>Surname: </th>
				<td>
					<input type="text" name="surname"/>
				</td>
			</tr>
			</table>
		<input value="Find Player" name="findplayer" type="submit"/>
	</form>



{%endblock%}