{%extends "layout.html"%}

{%block title%}Rankings{%endblock%}

{%block content%}
        <h1>Rankings</h1>
        <table>
        	{% for key, player in players %}
        	<tr>
        		<td>{{player.name}} </td>
        		<td> {{player.surname}} </td>
        		<td> {{player.country}} </td>
        		<td> {{player.club}} </td>
        		<td> {{player.age}} </td>
        		<td> {{player.rating}} </td>
        		<td> {{player.ranking}}		</td>
        	</tr>
        	{%endfor%}
        </table>
{%endblock%}