<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Rules of Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
  	<nav>
		<a href = "{{ url_for('home_page') }}">Home</a>
  	 	 <li><a href = "{{ url_for('localtour_page') }}">Local Tournaments</a></li>
  		 <li><a href = "{{ url_for('rankings_page') }}">Rankings</a></li>
  		 <li><a href = "{{ url_for('upcoming_events') }}">Upcoming Events</a></li>
  		 <li><a href = "{{ url_for('history') }}">History</a></li>
  		 <li><a href = "{{ url_for('rules_page') }}">Rules of Game</a></li>
  		 <li><a href = "{{ url_for('players_page') }}">Player Info</a></li>
  		 <li><a href = "/count">Count</a></li>

	</nav>
	<h1>Pieces</h1>
	<h2>Add, Delete Pieces</h2>
	<table>
		<tr>
			<th>ID</th>
			<th>Piece Name</th>
    		<th>Piece Rule</th>
    		<th>Special Move</th>

  		</tr>
		{% for id, piece_name, piece_rule, special_move in rules %}
		<tr>
			<td>{{ id }}</td>
			<td><a href="{{ url_for('update_pieces_page', key=id) }}">{{ piece_name }}</a></td>
			<td>{{ piece_rule }}</td>
			<td>{{ special_move }}</td>
		</tr>
		{% endfor %}
	</table>

	<form id="rules" action="{{ url_for('rules_page') }}" method="post">
		<table>
			<tr>
				<th>Piece Name:</th>
				<td>
					<input type="text" name="piece_name"/>
				</td>
			</tr>
			<tr>
				<th>Piece Rule:</th>
				<td>
					<input type="text" name="piece_rule"/>
				</td>
			</tr>
			<tr>
				<th>Special Move:</th>
				<td>
					<input type="text" name="special_move"/>
				</td>
			</tr>

		</table>
		<input value="Add Piece" name="addpiece" type="submit"/>
	</form>

	<div id="divrules">
	<form id="delrules" action="{{ url_for('rules_page') }}" method="post">
		<table>
			<tr>
				<th>Piece Name:</th>
				<td>
					<input type="text" name="piece_name"/>
				</td>
			</tr>
		</table>
		<input value="Delete Piece" name="deletepiece" type="submit"/>
	</form>
	</div>

	<form id="delrules" action="{{ url_for('rules_page') }}" method="post">
		<input value="Initialize Table" name="initializeTable" type="submit"/>
	</form>


		<h2>History of Rules of Chess</h2>
	<table>
		<tr>
			<th>ID</th>
			<th>The Rule</th>
    		<th>Made By</th>
    		<th>Date</th>

  		</tr>
		{% for id, the_rule, made_by, date in the_rules %}
		<tr>
			<td>{{ id }}</td>
			<td><a href="{{ url_for('update_rules_page', key=id) }}">{{ the_rule }}</a></td>
			<td>{{ made_by }}</td>
			<td>{{ date }}</td>
		</tr>
		{% endfor %}
	</table>

	<form id="rules" action="{{ url_for('rules_page') }}" method="post">
		<table>
			<tr>
				<th>The Rule:</th>
				<td>
					<input type="text" name="the_rule"/>
				</td>
			</tr>
			<tr>
				<th>Made by:</th>
				<td>
					<input type="text" name="made_by"/>
				</td>
			</tr>
			<tr>
				<th>Date:</th>
				<td>
					<input type="text" name="date"/>
				</td>
			</tr>

		</table>
		<input value="Add Rule" name="addrule" type="submit"/>
	</form>

	<div id="divrules">
	<form id="delrules" action="{{ url_for('rules_page') }}" method="post">
		<table>
			<tr>
				<th>The Rule:</th>
				<td>
					<input type="text" name="the_rule"/>
				</td>
			</tr>
		</table>
		<input value="Delete Rule" name="deleterule" type="submit"/>
	</form>
	</div>

	<form id="delrules" action="{{ url_for('rules_page') }}" method="post">
		<input value="Initialize Table" name="initializeTable" type="submit"/>
	</form>


	<footer>
<div id="datetime">{{ current_time }}</div> </footer>

  </body>
</html>