<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Rules of Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body >
  	<nav>
		<a href = "{{ url_for('home_page') }}">Home</a>
  	 	 <li><a href = "{{ url_for('localtour_page') }}">Local Tournaments</a></li>
  		 <li><a href = "{{ url_for('rankings_page') }}">Rankings</a></li>
  		 <li><a href = "{{ url_for('upcoming_events') }}">Upcoming Events</a></li>
  		 <li><a href = "{{ url_for('history') }}">History</a></li>
  		 <li><a href = "{{ url_for('rules_page') }}">Rules</a></li>
  		 <li><a href = "{{ url_for('players_page') }}">Player Info</a></li>
  		 <li><a href = "/count">Count</a></li>

	</nav>
	<h1  style="margin-left:450px; margin-top: 25px;">Rules of Pieces and Game</h1>
	<div style="display: table;">
  	<div style="float:left; margin-right: 50px; margin-left: 100px;">
	<h2	id="subhead" >Movement of Pieces</h2>
	<br>H: Horizontal, V: Vertical, D: Diognal, L: L shape</br>
	<br>S.F.: Straight Forward</br>
	<table>
		<tr>
			<th>ID</th>
			<th>Piece Name</th>
    		<th>Piece Move</th>
    		<th>Special Move</th>

  		</tr>
		{% for id, piece_name, piece_move, special_move in rules %}
		<tr>
			<td>{{ id }}</td>
			<td>{{ piece_name }}</td>
			<td>{{ piece_move }}</td>
			<td>{{ special_move }}</td>
			<td>
				<a style="background-color: #e8ffff; text-decoration:none; border:0px;" id="button" href="{{ url_for('update_pieces_page', key=id) }}" type="submit">Update</a>
			</td>
		</tr>
		{% endfor %}
	</table>

	<form id="rules" action="{{ url_for('rules_page') }}" method="post">
		<table>
			<tr>
				<th>Piece Name:</th>
				<td>
					<input type="text" name="piece_name"/>
				</td>
			</tr>
			<tr>
				<th>Piece Move:</th>
				<td>
					<input type="text" name="piece_move"/>
				</td>
			</tr>
			<tr>
				<th>Special Move:</th>
				<td>
					<input type="text" name="special_move"/>
				</td>
			</tr>

		</table>
		<input value="Add Piece" name="addpiece" type="submit"/>
	</form>

	<div id="divrules">
	<form id="delrules" action="{{ url_for('rules_page') }}" method="post">
		<table>
			<tr>
				<th>Piece Name:</th>
				<td>
					<input type="text" name="piece_name"/>
				</td>
			</tr>
			<tr>
				<th>Piece Move:</th>
				<td>
					<input type="text" name="piece_move"/>
				</td>
			</tr>
		</table>
		<input value="Delete Piece" name="deletepiece" type="submit"/>
		<input value="Find Piece" name="findpiece" type="submit"/>
	</form>
	</div>

	<form id="delrules" action="{{ url_for('rules_page') }}" method="post">
		<input value="Initialize Table" name="initializeTable" type="submit"/>
	</form>
	</div>

		<div style="float:right; margin-left: 200px;">
		<h2	id="subhead" >Starting Place and Captured Directions</h2>
	<table>
		<tr>
			<th>ID</th>
			<th>Piece Name</th>
    		<th>Captured Direction</th>
    		<th>Starting Point</th>
    		<th>Can it Start?</th>

  		</tr>
		{% for id, name, capture_direction, starting_place, can_start in capture %}
		<tr>
			<td>{{ id }}</td>
			<td>{{ name }}</td>
			<td>{{ capture_direction }}</td>
			<td>{{ starting_place }}</td>
			<td>{{ can_start }}</td>
			<td>
				<a style="background-color: #e8ffff; text-decoration:none;" id="button" href="{{ url_for('update_captures_page', key=id) }}">Update</a>
			</td>
		</tr>
		{% endfor %}
	</table>

	<form id="rules" action="{{ url_for('rules_page') }}" method="post">
		<table>
			<tr>
				<th>Piece Name:</th>
				<td>
					<input type="text" name="name"/>
				</td>
			</tr>
			<tr>
				<th>Captured Direction:</th>
				<td>
					<input type="text" name="capture_direction"/>
				</td>
			</tr>
			<tr>
				<th>Starting Point:</th>
				<td>
					<input type="text" name="starting_place"/>
				</td>
			</tr>
			<tr>
				<th>Can it Start?:</th>
				<td>
					<input type="text" name="can_start"/>
				</td>
			</tr>

		</table>
		<input value="Add Capture" name="addcapture" type="submit"/>
	</form>

	<div id="divrules">
	<form id="delrules" action="{{ url_for('rules_page') }}" method="post">
		<table>
			<tr>
				<th>Piece Name:</th>
				<td>
					<input type="text" name="name"/>
				</td>
			</tr>
		</table>
		<input value="Delete Capture" name="deletecapture" type="submit"/>
		<input value="Find Capture" name="findcapture" type="submit"/>
	</form>
	</div>

	<form id="delrules" action="{{ url_for('rules_page') }}" method="post">
		<input value="Initialize Table" name="initializeTable" type="submit"/>
	</form>
	</div>
	</div>

	<div style="margin-left: 450px;">
		<h2	id="subhead" >History of Movements and Special Rules</h2>
	<table>
		<tr>
			<th>ID</th>
			<th>The Rule</th>
    		<th>Made By</th>
    		<th>Date</th>

  		</tr>
		{% for id, the_rule, made_by, date in the_rules %}
		<tr>
			<td>{{ id }}</td>
			<td>{{ the_rule }}</td>
			<td>{{ made_by }}</td>
			<td>{{ date }}</td>
			<td><a style="background-color: #e8ffff; text-decoration:none;" id="button" href="{{ url_for('update_pieces_page', key=id) }}">Update</a></td>
		</tr>
		{% endfor %}
	</table>

	<form id="rules" action="{{ url_for('rules_page') }}" method="post">
		<table>
			<tr>
				<th>The Rule:</th>
				<td>
					<input type="text" name="the_rule"/>
				</td>
			</tr>
			<tr>
				<th>Made by:</th>
				<td>
					<input type="text" name="made_by"/>
				</td>
			</tr>
			<tr>
				<th>Date:</th>
				<td>
					<input type="text" name="date"/>
				</td>
			</tr>

		</table>
		<input value="Add Rule" name="addrule" type="submit"/>
	</form>

	<div id="divrules">
	<form id="delrules" action="{{ url_for('rules_page') }}" method="post">
		<table>
			<tr>
				<th>The Rule:</th>
				<td>
					<input type="text" name="the_rule"/>
				</td>
			</tr>
		</table>
		<input value="Delete Rule" name="deleterule" type="submit"/>
		<input value="Find Rule" name="findrule" type="submit"/>
	</form>
	</div>

	<form id="delrules" action="{{ url_for('rules_page') }}" method="post">
		<input value="Initialize Table" name="initializeTable" type="submit"/>
	</form>
	</div>

  </body>
</html>