<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Upcoming Events</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
  	<nav>
		<ul class="nav nav-pills">
  	 	 <li role="presentation" class="active"> <a style="text-decoration:none;" href = "{{ url_for('home_page') }}">Home</a></li>
  	 	 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('localtour_page') }}">Local Tournaments</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('rankings_page') }}">Rankings</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('upcoming_events') }}">Upcoming Events</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('history') }}">History</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('rules_page') }}">Rules</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('players_page') }}">Player Info</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "/count">Count</a></li>
  		</ul>
	</nav>
	<h1>Upcoming Events</h1>
	<div class="panel panel-default">
	<table class="table">
		<tr>
			<th>Number</th>
			<th>Date</th>
    		<th>Place</th>
    		<th>Player 1</th>
    		<th>Player 2</th>
    		<td>Championship</td>
  		</tr>
		{% for  number, date, place, player1,player2, champ in events %}
		<tr>
			<td>{{ number }}</td>
			<td>{{ date }}</td>
			<td>{{ place }}</td>
			<td>{{ player1 }}</td>
			<td>{{ player2 }}</td>
			<td>{{ champ }}</td>
			<td>
				<a style=" text-decoration:none;" id="button" href="{{ url_for('update_event', key=number) }}" type="submit">Update Event</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>

	<form id="addira" action="{{ url_for('upcoming_events') }}" method="post">
		<div class="panel panel-default">
	<table class="table">
			<tr>
				<th>Date:</th>
				<td>
					<input type="text" name="date"/>
				</td>
			</tr>
			<tr>
				<th>Place:</th>
				<td>
					<input type="text" name="place"/>
				</td>
			</tr>
			<tr>
				<th>Player1:</th>
				<td>
					<input type="text" name="player1"/>
				</td>
			</tr>
			<tr>
				<th>Player2:</th>
				<td>
					<input type="text" name="player2"/>
				</td>
			</tr>
			<tr>
				<th>Championship:</th>
				<td>
					<input type="text" name="champ"/>
				</td>
			</tr>
		</table>
		</div>
		<input value="Add Event" name="addevent" type="submit"/>
	</form>

	<div id="divturkah">

	<form id="delturkah" action="{{ url_for('upcoming_events') }}" method="post">
		<div class="panel panel-default">
	<table class="table">
			<tr>
				<th>number:</th>
				<td>
					<input type="text" name="number"/>
				</td>
			</tr>
		</table>
		</div>
		<input value="Delete Event" name="deleteevent" type="submit"/>
		<input value="Find Event" name="findevent" type="submit"/>
	</form>
	</div>

<form id="delturkah" action="{{ url_for('upcoming_events') }}" method="post">
		<div class="panel panel-default">
	<table class="table">
			<tr>
				<th>Championship:</th>
				<td>
					<input type="text" name="champ"/>
				</td>
			</tr>
		</table>
		</div>
		<input value="Delete Event" name="deleteevent2" type="submit"/>
		<input value="Find Event" name="findevent2" type="submit"/>
	</form>


  <form id="delturkah" action="{{ url_for('upcoming_events') }}" method="post">
    <div class="panel panel-default">
	<table class="table">
      <tr>
        <th>Date:</th>
        <td>
          <input type="text" name="date"/>
        </td>
      </tr>
      <tr>
        <th>Place:</th>
        <td>
          <input type="text" name="place"/>
        </td>
      </tr>
    </table>
    </div>
    <input value="Delete Event" name="deleteevent1" type="submit"/>
    <input value="Find Event" name="findevent1" type="submit"/>
  </form>

	<form id="delturkah" action="{{ url_for('upcoming_events') }}" method="post">
	<button type="submit" name="initializeTable" class="btn btn-default">Initialize Table</button>
	</form>

<div>
<h1>Championships</h1>
	<div class="panel panel-default">
	<table class="table">
		<tr>
			<th>Number</th>
			<th>Championship</th>
    		<th>Year</th>
    		<th>Total players</th>
    		<th>Total games</th>
  		</tr>
		{% for  number, cha, year, players, games in tours %}
		<tr>
			<td>{{ number }}</td>
			<td><a href="{{ url_for('updatetour_page', key=number) }}">{{ cha }}</a></td>
			<td>{{ year }}</td>
			<td>{{ players }}</td>
			<td>{{ games }}</td>
		</tr>
		{% endfor %}
	</table>
	</div>
</div>

<form id="addira" action="{{ url_for('upcoming_events') }}" method="post">
		<div class="panel panel-default">
	<table class="table">
			<tr>
				<th>Championship:</th>
				<td>
					<input type="text" name="cha"/>
				</td>
			</tr>
			<tr>
				<th>Year:</th>
				<td>
					<input type="text" name="year"/>
				</td>
			</tr>
			<tr>
				<th>Total Players:</th>
				<td>
					<input type="text" name="players"/>
				</td>
			</tr>
			<tr>
				<th>Total Games:</th>
				<td>
					<input type="text" name="games"/>
				</td>
			</tr>
		</table>
		</div>
		<input value="Add Championship" name="addtour" type="submit"/>
	</form>

	<div id="divturkah">

	<form id="delturkah" action="{{ url_for('upcoming_events') }}" method="post">
		<div class="panel panel-default">
	<table class="table">
			<tr>
				<th>number:</th>
				<td>
					<input type="text" name="number"/>
				</td>
			</tr>
		</table>
		</div>
		<input value="Delete Tour" name="deletetour" type="submit"/>
		<input value="Find Tour" name="findtour" type="submit"/>
	</form>
	</div>

	<div id="divturkah">
  <form id="delturkah" action="{{ url_for('upcoming_events') }}" method="post">
    <div class="panel panel-default">
	<table class="table">
      <tr>
        <th>Championship:</th>
        <td>
          <input type="text" name="cha"/>
        </td>
      </tr>
      <tr>
        <th>Year:</th>
        <td>
          <input type="text" name="year"/>
        </td>
      </tr>
    </table>
    </div>
    <input value="Delete Tour" name="deletetour1" type="submit"/>
    <input value="Find Tour" name="findtour1" type="submit"/>
  </form>

	<form id="delturkah" action="{{ url_for('upcoming_events') }}" method="post">
	<button type="submit" name="initializeTable" class="btn btn-default">Initialize Table</button>

	</form>
  </body>
</html>