{% extends "layout.html" %}
{% block title %}Championship{% endblock %}
{% block content %}
	<form id="addturkah" action="{{ url_for('updatetour_page', key=tour_up[0]) }}" method="post">
		<div class="panel panel-default">
	<table class="table">
			<tr>
				<th>Championship:</th>
				<td>
					<input type="text" name="cha" value="{{ tour_up[1] }}"/>
				</td>
			</tr>
			<tr>
				<th>Year:</th>
				<td>
					<input type="integer" name="year" value="{{ tour_up[2] }}"/>
				</td>
			</tr>
			<tr>
				<th>Players:</th>
				<td>
					<input type="integer" name="fact" value="{{ tour_up[3] }}"/>
				</td>
			</tr>
			<tr>
				<th>Games:</th>
				<td>
					<input type="integer" name="fact" value="{{ tour_up[4] }}"/>
				</td>
			</tr>
		</table>
		</div>
		<input value="Update Tour" name="updatetour" type="submit"/>
	</form>
{% endblock %}
