<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Update Countries</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body >
  	<nav>
		<ul class="nav nav-pills">
  	 	 <li role="presentation" class="active"> <a style="text-decoration:none;" href = "{{ url_for('home_page') }}">Home</a></li>
  	 	 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('localtour_page') }}">Local Tournaments</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('rankings_page') }}">Rankings</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('upcoming_events') }}">Upcoming Events</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('history') }}">History</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('rules_page') }}">Rules</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('players_page') }}">Player Info</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "{{ url_for('countries_page') }}">Countries</a></li>
  		 <li role="presentation"><a style="text-decoration:none;" href = "/count">Count</a></li>
  		</ul>

	</nav>
	<form id="updatecountries" action="{{ url_for('update_countries_page', key = countries[0]) }}" method="post">
		<div class="panel panel-default">
	<table class="table">
			tr>
				<th>Country Name:</th>
				<td>
					<input type="text" name="country_name" value="{{ countries[1] }}"/>
				</td>
			</tr>
			<tr>
				<th>Average of Top 10 players:</th>
				<td>
					<input type="text" name="average" value="{{ countries[2] }}"/>
				</td>
			</tr>
			<tr>
				<th>Grand Masters:</th>
				<td>
					<input type="text" name="gm" value="{{ countries[3] }}"/>
				</td>
			</tr>
			<tr>
				<th>International Masters:</th>
				<td>
					<input type="text" name="im" value="{{ countries[4] }}"/>
				</td>
			</tr>
			<tr>
				<th>Total Titled:</th>
				<td>
					<input type="text" name="total_titled" value="{{ countries[5] }}"/>
				</td>
			</tr>
			<tr>
				<th>Total Number of Top 100 players:</th>
				<td>
					<input type="text" name="total_top" value="{{ countries[6] }}"/>
				</td>
			</tr>
			<tr>
				<th>FIDE country rank:</th>
				<td>
					<input type="text" name="country_rank" value="{{ countries[7] }}"/>
				</td>
			</tr>
			<tr>
				<th>Highest Ranked Player:</th>
				<td>
					<input type="text" name="best_player" value="{{ countries[8] }}"/>
				</td>
			</tr>
			<tr>
				<th>Rating of the Highest Ranked Player:</th>
				<td>
					<input type="text" name="highest_rating" value="{{ countries[9] }}"/>
				</td>
			</tr>
		</table>
		</div>
		<input value="Update Country" name="updatecountries" type="submit"/>
	</form>

	</body>
</html>




