{% extends "layout.html" %}
{% block title %}Player Ranking{% endblock %}
{% block content %}
	<form id="addplayer" action="{{ url_for('update_ranking_page', key = player[0]) }}" method="post">
		<div class="panel panel-default">
	<table class="table">
			<tr>
				<th>Name:</th>
				<td>
					<input type="text" name="name" value="{{ player[1] }}"/>
				</td>
			</tr>
			<tr>
				<th>Surname:</th>
				<td>
					<input type="text" name="surname" value="{{ player[2] }}"/>
				</td>
			</tr>
			<tr>
				<th>Country:</th>
				<td>
					<input type="text" name="country" value = "{{player[3]}}"/>
				</td>
			</tr>
			<tr>
				<th>Club:</th>
				<td>
					<input type="text" name="club" value="{{ player[4] }}"/>
				</td>
			</tr>
			<tr>
				<th>Rating: </th>
				<td>
					<input type="text" name="rating" value="{{ player[5] }}"/>
				</td>
			</tr>
			<tr>
				<th>Ranking:</th>
				<td>
					<input type="text" name="ranking" value="{{ player[6] }}"/>
				</td>
			</tr>
			<tr>
				<th>Age:</th>
				<td>
					<input type="text" name="age" value="{{ player[7] }}"/>
				</td>
			</tr>
			<tr>
				<th>Gender:</th>
				<td>
					<input type="text" name="gender" value="{{ player[8] }}"/>
				</td>
			</tr>
		</table>
		</div>
		<input value="Update Player" name="updateplayer" type="submit"/>
	</form>
{% endblock %}